* {
    box-sizing: border-box;
}

a {
    text-decoration: none;
    color: white;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

h1,
h2,
h3,
p {
    margin: 0;
    margin-block-start: 0;
    margin-block-end: 0;
}

body {
    font-family: 'DM Mono', monospace, Arial, Helvetica, sans-serif;
    font-size: 16px;
    line-height: 26px;
    background: black;
    color: white;
}

/*
font-family: 'Audiowide', cursive;
font-family: 'DM Mono', monospace;
font-family: 'Inter', sans-serif;
*/

button {
    cursor: pointer;
    border: none;
    background-color: transparent;
    padding: 0;
    outline: none;
}

.container {
    max-width: 1450px;
    padding: 0 77px 0 77px;
    margin-right: auto;
    margin-left: auto;
}

/* header */

.header {
    height: 100px;
}

.header__container {
    max-width: 1160px;
    margin-right: auto;
    margin-left: auto;
    min-height: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transform: translateY(10px);
}

.header__content {
    align-items: center;
    margin-left: 40px;
    width: 1160px;
    display: flex;
    justify-content: space-between;
}

.header__list {
    display: flex;
    color: white;
}

.header__list-item:not(:last-child) {
    margin-right: 40px;
    color: white;
}

.header__hrefs {
    display: flex;
}

.header__hrefs-item:not(:last-child) {
    margin-right: 12px;
}

/* hero */

.hero {
    min-height: 653px;
    overflow: hidden;
}

.hero__content {
    position: relative;
}

.hero__heading {
    font-family: 'Audiowide';
    font-style: normal;
    font-weight: 400;
    font-size: 51px;
    line-height: 61px;
    text-transform: uppercase;
    color: #FFFFFF;
    margin-bottom: 43px;
    margin-top: 110px;
}

p {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
}

.hero__text {
    width: 350px;
    margin-bottom: 115px;
}

.hero__button {
    width: 205px;
    height: 60px;
    background: #8DFD1B;
    color: black;
    cursor: pointer;
    position: absolute;
    z-index: 999;
}

.hero__left {
    width: 430px;
    position: relative;
}


.hero__right {
    position: absolute;
    top: 0;
    right: -700px;
    bottom: 0;
    left: 0;
}

.picture-size {
    width: 500px;
}

/* wave */

.wave {
    min-height: 545px;
    margin-bottom: 120px;
}

.wave__content {
    display: flex;
}

.wave__left {
    position: relative;
}

.wave__left-heading {
    font-family: 'Audiowide';
    font-weight: 400;
    font-size: 38px;
    line-height: 45px;
    text-transform: uppercase;
    width: 351px;
    margin-bottom: 41px;
}

.heading-effect {
    color: #A8A8A8;
}

.wave__left-picture {
    width: 360px;
    height: 360px;
    position: absolute;
    top: 180px;
    left: -100px;
}

.wave__right {
    width: 545px;
    margin-left: 40px;

}

.wave__right-heading {
    font-size: 21px;
    line-height: 32px;
    color: #8DFD1B;
    border-left: 1px solid #8DFD1B;
    padding-left: 20px;
    margin-bottom: 32px;
}

.wave__right-text1 {
    margin-bottom: 18px;
}

.wave__right-text2 {
    margin-bottom: 17px;
}

.wave__right-text3 {
    margin-bottom: 36px;
}

.wave__right-button {
    text-align: center;
    width: 246px;
    height: 42px;
    color: white;
    background-color: black;
    border: 1px solid #8DFD1B;
}


/* artistis */

.artists {
    min-height: 800px;
    position: relative;
    overflow: hidden;
    margin-bottom: 240px;
}

.artists__list {
    display: flex;
    flex-wrap: wrap;
    --bs-gutter-x: 1.5rem;
    --bs-gutter-y: 1.5rem;
    margin-top: calc(var(--bs-gutter-y) * -1);
    margin-right: calc(var(--bs-gutter-x)/ -2);
    margin-left: calc(var(--bs-gutter-x)/ -2);

    margin-top: 130px;
}

.artists__list-content {
    text-align: center;
}

.artists__list-item {
    height: 309px;
    box-sizing: border-box;
    flex-shrink: 0;
    padding-right: calc(var(--bs-gutter-x)/ 2);
    padding-left: calc(var(--bs-gutter-x)/ 2);
    margin-top: var(--bs-gutter-y);
}

.artists__list-text {
    display: block;
    align-self: center;
    padding-top: 20px;
}

/* story */

.story {
    margin-bottom: 120px;
}

.story__heading-content {
    text-align: center;
    margin-bottom: 61px;
}

.story__heading-text {
    font-family: 'Audiowide';
    color: #FFFFFF;
    font-weight: 400;
    font-size: 37px;
    line-height: 45px;
    display: inline;
}

.story__heading-text2 {
    font-family: 'Audiowide';
    color: #A8A8A8;
    font-weight: 400;
    font-size: 37px;
    line-height: 45px;
    display: inline;
}

.story__content {
    display: flex;
}

.story__list-btn {
    color: white;
    width: 282px;
    height: 72px;
    text-align: inherit;
    padding-left: 28px;
}

.story__list-btn-active {
    background-color: #222222;
    color: #8DFD1B;
}

.tab-content {
    display: none;
}

.tab-content-active {
    display: block;
}

.story__article {
    width: 878px;
    min-height: 538px;
    padding: 60px;
    display: flex;
    background-color: #222222;
}

.story__btn-box {
    padding: 61px 0 0 1px;
}

.story__article-img {
    height: 253px;
    width: 172px;
    margin-right: 40px;
}

.story__text-heading {
    font-size: 21px;
    line-height: 32px;
    color: #8DFD1B;
    border-left: 1px solid #8DFD1B;
    padding-left: 20px;
    margin-bottom: 32px;
}

.story__text-text1 {
    margin-bottom: 18px;
}

.story__text-text2 {
    margin-bottom: 17px;
}

/* roadmap */

.roadmap {
    position: relative;
    overflow: hidden;
    margin-bottom: 245px;
}

.roadmap__image {
    background: url(../img/gitar.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: contain;
    width: 100%;
    min-height: 240px;
    background-attachment: fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: 150%;
}

.roadmap__heading {
    font-family: 'Audiowide';
    color: #FFFFFF;
    font-weight: 400;
    text-align: center;
    font-size: 38px;
    line-height: 45px;
    margin-top: 120px;
    margin-bottom: 106px;
}


.roadmap__phone-image1 {
    position: absolute;
    top: 130px;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1;
}

.roadmap__phone-image2 {
    position: absolute;
    top: 700px;
    right: 0;
    bottom: 0;
    left: 1225px;
    z-index: 1;
}

.roadmap__phone-image3 {
    position: absolute;
    top: 1200px;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1;
}

.roadmap__list-item {
    width: 540px;
    min-height: 271px;
    height: 100%;
    background-color: #222222;
}

.roadmap__list {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 275px;
}

.roadmap__list-item:not(:last-child) {
    margin-bottom: 140px;
}

.card__top {
    display: flex;
    padding: 12px 0 0 12px;
    height: 70px;
    width: 100%;
    border: 1px solid #8DFD1B;
}

.card__top-number {
    width: 45px;
    height: 45px;
    text-align: center;
    background-color: #8DFD1B;
    color: #000000;
    margin-right: 12px;
}

.other {
    background-color: #222222;
    color: #8DFD1B;
    border: 1px solid #8DFD1B;
}

.card__top-number1 {
    transform: translateY(9px);
}

.card__top-phase {
    font-size: 8px;
    line-height: 12px;
    letter-spacing: 1px;
    text-transform: uppercase;
    color: #8DFD1B;
}

.card__top-month {
    font-weight: 400;
    font-size: 16px;
    line-height: 1;
    text-transform: uppercase;
    color: #FFFFFF;
}

.card__bottom {
    border: 1px solid #8DFD1B;
    border-top: 1px solid transparent;
    min-height: 200px;
    padding: 30px 12px 30px 12px;
    display: flex;
    justify-content: space-between;
}

.card__bottom-text {
    width: 300px;
    font-weight: 400;
    font-size: 11px;
    line-height: 26px;
}

.card__bottom-firstpart {
    margin-left: 30px;
    margin-bottom: 15px;
}

.card__bottom-image {
    border-radius: 13px;
}

.roadmap__semiheading {
    text-align: center;
    font-weight: 400;
    font-size: 11px;
    line-height: 12px;
    letter-spacing: 1px;
    text-transform: uppercase;
    color: #8DFD1B;
    transform: translateX(-150px);
    margin-bottom: 50px;
}

.roadmap__margin {
    margin-bottom: 50px;
}

/* asked */

.asked {
    margin-bottom: 115px;
}

.asked__content {
    display: flex;
    justify-content: space-between;
}

/* .asked__left {

} */

.asked__heading {
    font-family: 'Audiowide';
    font-weight: 400;
    font-size: 38px;
    line-height: 45px;
    text-transform: uppercase;
    color: #FFFFFF;
    margin-bottom: 50px;
}

.asked__heading-color {
    color: #A8A8A8;
}

.asked__right-content {
    width: 580px;
    min-height: 485px;
    background-color: #222222;
    color: #FFFFFF;
    padding: 23px 27px 29px 29px;
}

.asked__right-heading {
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 24px;
    display: flex;
    justify-content: space-between;
    margin-bottom: 25px;
}

.asked__right-square {
    width: 15px;
    height: 16px;
    background-color: #FFFFFF;
}

.asked__right-text {
    margin-bottom: 25px;
    font-size: 12px;
    line-height: 19px;
    color: #C4C4C4;
}

/* team */

.team {
    overflow: hidden;
    margin-bottom: 235px;
}

.team__list {
    display: flex;
    margin-top: 130px;
}

.team__list-item:not(:last-child) {
    margin-right: 100px;
}

.team__list-item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    width: 320px;
}

.team__list-img {
    width: 320px;
    height: 320px;
    margin-bottom: 20px;
}

.team__list-heading {
    font-family: 'DM Mono';
    font-weight: 400;
    font-size: 21px;
    line-height: 28px;
    text-align: center;
    text-transform: uppercase;
    color: #FFFFFF;
    margin-bottom: 18px;
}

.team__list-posititon {
    font-weight: 400;
    font-size: 11px;
    line-height: 12px;
    text-align: center;
    letter-spacing: 1px;
    text-transform: uppercase;
    color: #8DFD1B;
    margin-bottom: 22px;
}

.team__list-imgs {
    margin-bottom: 22px;
}

.team__list-link:not(:last-child) {
    margin-right: 7px;
}

.team__list-link {
    margin-bottom: 22px;
}

/* discord */
.discord {
    margin-bottom: 118px;
}

.discord__content {
    display: flex;
    justify-content: space-between;
}

/* .discord__content-left {} */

.left__heading {
    margin-top: 120px;
    font-family: 'Audiowide';
    font-weight: 400;
    font-size: 51px;
    line-height: 61px;
    text-transform: uppercase;
    color: #FFFFFF;
    margin-bottom: 35px;
}

.left__heading-color {
    color: #8DFD1B;
}

.left__text {
    width: 345px;
    margin-bottom: 35px;
}

.left__button {
    padding: 10px 17px 10px 17px;

    color: #000000;
    background-color: #8DFD1B;
}

.left__button-img {
    transform: translateY(5px);
    margin-right: 5px;
    display: inline-block;
}

/* footer */

.footer {
    min-height: 338px;
    background-color: #42006A;
}

.footer__content {
    padding-top: 100px;
    display: flex;
    justify-content: space-between;
}

.footer__logo-rights {
    margin-top: 70px;
    display: block;
    font-size: 13px;
    line-height: 20px;
    color: #FFFFFF;
}

.footer__list {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 300px;
    height: 170px;
}

.footer__list-item {
    margin-bottom: 30px;
}

.footer__list-item:nth-child(1) {
    margin-right: 100px;
}

.footer__dev {
    font-size: 13px;
    line-height: 15px;
    color: #FFFFFF;
}

.footer__dev-by {
    display: block;
    margin-bottom: 30px;
}